html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #2c3e50;
  height: 100%;
  text-align: center;
  color:#61dafb;
  justify-content: center;
}

hr {
  max-width: 50%;
}

p {
  display: block;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-bottom: 0.1em;
}

code {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 700;
  color: white;
}

.navbarItems {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navlink {
  /* margin: 0 1px; */
  font-size: 2em;
}

na

a.item {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

a.item:hover {
  color:#61dafb;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color:#61dafb;
}

th {
  padding-left: 4em;
  color: #fff;
}

td {
  border: 1px solid #61dafb;
  max-width: 500px;
  color: #fff;
}

button {
  background-color: #61dafb;
  border: none;
  color: #000;
  opacity: 0.7;
  margin-top: 0.5em;
  text-decoration: none;
  font-size: 1em;
  margin-left: 10px;
  border-radius: 5px;
  border: 0.1em solid #000;
  cursor: pointer;
  display: inline-flex;
}

button:hover {
  color: #fff;
  cursor: pointer;
  opacity: 1;
  border: 0.1em solid #fff;
}

.profile {
  color: #fff;
}

.input-box {
  background-color: #fff;
  border: none;
  color: #000;
  margin: 0.5em;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 1em;
  border-radius: 5px;
  border: 0.2em solid #000;
}

.information {
  justify-content: center;
  margin: 0em 30em;
  padding-top: 1em;
}

.separate {
  margin: 0 0.2em;
}

#navbar {
  background-color: #61dafb;
}

ul {
  list-style-type: none;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

li {
  display: inline-flex;
  margin-right: 2em;
}

h1 {
  color: #61dafb;
}

h3, h2 {
  color: #fff;
}

.error {
  color: #f7b80c;
}

.table {
  display: inline-flex;
  flex-direction: column;
}

#okta-sign-in a, #okta-sign-in abbr, #okta-sign-in acronym, #okta-sign-in 
address, #okta-sign-in applet, #okta-sign-in b, #okta-sign-in big, #okta-sign-in
blockquote, #okta-sign-in body, #okta-sign-in caption, #okta-sign-in center, 
#okta-sign-in cite, #okta-sign-in code, #okta-sign-in dd, #okta-sign-in del, 
#okta-sign-in dfn, #okta-sign-in div, #okta-sign-in dl, #okta-sign-in dt, #okta-sign-in em, 
#okta-sign-in fieldset, #okta-sign-in form, #okta-sign-in h1, #okta-sign-in h2, #okta-sign-in h3, 
#okta-sign-in h4, #okta-sign-in h5, #okta-sign-in h6, #okta-sign-in html, #okta-sign-in i, #okta-sign-in iframe, 
#okta-sign-in img, #okta-sign-in ins, #okta-sign-in kbd, #okta-sign-in label, #okta-sign-in legend, #okta-sign-in li, 
#okta-sign-in object, #okta-sign-in ol, #okta-sign-in p, #okta-sign-in pre, #okta-sign-in q, #okta-sign-in s, #okta-sign-in samp, 
#okta-sign-in small, #okta-sign-in span, #okta-sign-in strike, #okta-sign-in strong, #okta-sign-in sub, #okta-sign-in sup, 
#okta-sign-in table, #okta-sign-in tbody, #okta-sign-in td, #okta-sign-in tfoot, #okta-sign-in th, #okta-sign-in thead, 
#okta-sign-in tr, #okta-sign-in tt, #okta-sign-in u, #okta-sign-in ul, #okta-sign-in var {
  font-family:Arial, Helvetica, sans-serif;
  background-color: none;
}

#okta-sign-in.auth-container .button-primary {
  color: #fff;
}

#okta-sign-in.auth-container .button-primary {
  background: linear-gradient(#61dafb, #146591);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 16px;
}

#okta-sign-in.auth-container .button-primary:hover {
  background: linear-gradient(#878d8a, #1d2935);
  font-family: Arial, Helvetica, sans-serif;
}

#okta-sign-in.auth-container .button-primary:focus {
  background: linear-gradient(#61dafb, #146591);
  font-family: Arial, Helvetica, sans-serif;
  border:none;
}

#okta-sign-in.auth-container .button.button-primary.link-button-disabled{
  color: #fff;
  background-color: #5f656b;
  border-color: #000;
  background-image: none;
  box-shadow: none;
}

/* #okta-sign-in .sign-in-with-idp .okta-idps-container .social-auth-button.link-button:last-of-type {
  border-radius: 16px;
} */

#okta-sign-in .social-auth-button.link-button {
  border-radius: 16px; 
}

#okta-sign-in.auth-container input[type=button], #okta-sign-in.auth-container input[type=submit] {
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: none;
}

#okta-sign-in .o-form .input-fix input[type=number], #okta-sign-in .o-form .input-fix input[type=password], 
okta-sign-in .o-form .input-fix input[type=tel], #okta-sign-in .o-form .input-fix input[type=text], 
#okta-sign-in .o-form .input-fix input[type=textbox] {
  font-family: Arial, Helvetica, sans-serif;
}

#okta-sign-in.auth-container .button-primary {
  background-color:#61dafb;
  border-color: rgba(0, 0, 0, 0.089);
}

#okta-sign-in, .auth-content, .okta-sign-in-header{
  border-radius: 16px;
  color: #2c3e50;
}

#okta-sign-in .o-form .input-fix, #okta-sign-in .o-form .textarea-fix{
  border-radius: 16px;
}

#okta-sign-in.auth-container .okta-form-input-field:hover:active {
  border-color: #61dafb;
  border-radius: 16px;
}

#okta-sign-in .o-form-label-top .o-form-input, #okta-sign-in .o-form-label-top .o-form-label {
  border-color: #61dafb;
  border-radius: 16px;
}

#okta-sign-in .o-form .input-fix input:-webkit-autofill, #okta-sign-in .o-form .textarea-fix input:-webkit-autofill {
  border-color: #61dafb;
  border-radius: 16px;
}

.password-authenticator-list, section {
  display: flex;
  text-align: left;
}

.list-content {
  display: flex;
  flex-direction: column;
  text-align: left;
}

#okta-sign-in .o-form .o-form-input .o-form-control {
  border-radius: 16px;
}
#okta-sign-in .o-form .o-form-input .o-form-control:hover {
  border-radius: 16px;
  border-color: #61dafb;
}

#okta-sign-in.no-beacon .auth-content {
  border-top: 1px solid #ddd;
  border-radius: 0px;
  border-width: 80%;
}

#okta-sign-in .auth-org-logo {
  display: block;
  margin: 0 auto;
  max-width: 3rem;
  max-height: 3rem;
  max-width: 80%;
}

#okta-sign-in .auth-header {
  border: none;
  /* background-repeat: no-repeat;
  background-position: center;  */
  margin-top: 0.5rem;
}

#okta-sign-in {
  margin-top: 2em;
}

#okta-sign-in label {
  display: block;  
}

#okta-sign-in .o-form .input-fix input[type=number], #okta-sign-in .o-form .input-fix input[type=password], #okta-sign-in .o-form .input-fix input[type=tel], #okta-sign-in .o-form .input-fix input[type=text], #okta-sign-in .o-form .input-fix input[type=textbox] {
  border-radius: 16px;
}